<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Abuela sorda</title>
  </head>
  <body>
    <h1>Abuela sorda</h1>
    <form  action="/abuela" method="post">
      <input type="text" name="mensaje" >
      <button type="submit" >Dilo!</button>

    </form>

  </body>
</html>
